.signup {
  margin: 10px 500px;
}

.information {
  text-align: center;
  font-size: 20px;
  margin: 5px;
}

.first-component {
  position: absolute;
  left: 0px;
  height: 800px;
  width: 300px;
  border-right: 3px solid red;
  padding: 10px;
  line-height: 40px;
}

.second-component {
  display: flex;
  position: absolute;
  left: 500px;
  width: 500px;
  padding: 10px;

  font-size: 20px;
  line-height: 30px;
  margin: 10px;
}

.second-component-profile {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 500px;
  height: 800px;
  width: 500px;
  padding: 10px;

  font-size: 20px;
  line-height: 30px;
  margin: 10px;
}

.second-component-rightbar {
  display: flex;
  position: absolute;
  left: 400px;
  height: 800px;
  width: 450px;
  padding: 10px;
  border-right: 3px solid rgb(255, 115, 115);

  font-size: 20px;
  line-height: 30px;
}


.third-component {
  display: flex;
  position: absolute;
  left: 900px;
  height: 800px;
  width: 450px;
  padding: 10px;


  font-size: 20px;
  line-height: 30px;
}

.component-border {
  border: 3px solid red;
  margin: 20px;
  padding: 10px;
}

.comment-edit {
  margin: 15px
}

.button-height {
  margin: 30px 0px;
}

.first-font {
  font-weight: bold;
  font-size: 35px;
  margin: 15px;
}

.input-box {
    margin: 5px;
    padding: 7px 15px;
    font-size: 20px;
}

.movie-review-title {
  margin: 5px;
  padding: 7px 200px;
  font-size: 20px;
}

.movie-review-comment {
  margin: 5px;
  padding: 100px 200px;
  font-size: 20px;
}


.btn {
    position: relative;
    border: none;
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;

    background-color: #fa414a;
    color: #d4dfe6;
}