.Home {
    align-items: center;
    background-color: black;
    color:white;
}

.Homemain {
    font-size: large;
    font-weight: bold;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 5px 50px;
    display: flex;
    align-items: center;
    background-color: black;
    color:white;
}